version: '3.8'

services:
  copyparty:
    image: copyparty/ac:latest
    container_name: copyparty
    ports:
      - "3923:3923"
      - "8086:8086"
    volumes:
      - ./copyparty.conf:/cfg/config.conf:ro
      - ./data:/cfg/hists
      - ./media:/media
    restart: unless-stopped
    environment:
      - TZ=UTC
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.copyparty.rule=Host(`copyparty.sandercokart.com`)"
      - "traefik.http.routers.copyparty.entrypoints=websecure"
      - "traefik.http.routers.copyparty.tls.certresolver=letsencrypt"
      - "traefik.http.services.copyparty.loadbalancer.server.port=3923"
